* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  margin-top: 3rem;
  margin-bottom: 4rem;
  max-width: 40%;
}

.title {
  margin-bottom: 3rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: gray;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 6px solid black;
}

.card {
  padding: 1rem;
  padding-top: 0.5rem;
  margin: -1rem;
  background-color: white;
  border-bottom: 6px solid black;
}

.indented-heading {
  margin: 0 -2rem;
  padding: 1rem 2rem;
  display: inline-block;
  background-color:hsl(45deg, 100%, 50%);
  border-bottom: 6px solid hsl(45deg, 100%, 40%);
}



